.admin-cms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: relative;
}

.admin-cms-container h2 {
    text-align: center;
}

.create-test-form {
    margin-top: 20px;
}

.edit-test-form {
    margin-top: 20px;
}

.create-test {
    display: flex;
    flex-direction: column;
}

.create-test input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.create-test button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-test button:hover {
    background-color: #218838;
}

.modal-input {
    margin-bottom: 15px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow-y: scroll;
}

.modal-datetime-row {
    display: flex;
    justify-content: space-between;
}

.modal-input-date {
    width: 49%;
    margin-bottom: 15px;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
}

.close-btn,
.submit-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-btn {
    background-color: #ccc;
    color: #333;
    margin-right: 10px;
}

.close-btn:hover {
    background-color: #bbb;
}

.submit-btn {
    background-color: #4caf50;
    color: #fff;
}

.submit-btn:hover {
    background-color: #429b45;
}

.btn-group-test {
    width: 16%;
    position: relative;
}

.open-modal-btn {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 30px 10px 20px;
    color: white;
    display: inline-block;
    margin-left: 0;
    position: relative;
    text-align: left;
    background-color: #4caf50;
}

.open-modal-btn:hover {
    background-color: #429b45;
}

.plus-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-image: url("../assets/plus.svg");
    pointer-events: none;
}

.test-list {
    margin-top: 20px;
}

.test-list ul {
    list-style-type: none;
    padding: 0;
}

.test-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.test-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.test-name,
.test-date {
    display: inline-block;
    font-size: 16px;
}

.test-name {
    flex: 1;
    font-weight: bold;
}

.test-date {
    margin-left: 20px;
    font-style: italic;
    color: #333;
    margin-right: 10px;
}

.action-buttons {
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.test-item:hover .action-buttons {
    opacity: 1;
}

.edit-btn,
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.edit-btn:hover,
.delete-btn:hover {
    transform: scale(1.1);
}

.edit-btn {
    background-image: url("../assets/edit.svg");
}

.delete-btn {
    background-image: url("../assets/delete.svg");
}

.pagination-controls {
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
    margin-left: auto;
}

.pagination-controls button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination-controls span {
    width: 290px;
    font-weight: bold;
}