.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 100px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    z-index: 3;
    top: 0;
}

.header-bar {
    width: 1180px;
    display: flex;
    align-items: center;
    background: white;
    justify-content: space-between;
    position: relative;
    min-width: 500px;
    z-index: 1;
    height: 40px;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
}

.university-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
}

.header-middle {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 5px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.fa-search {
    font-size: 1.2rem;
    color: #000;
}

.header-right {
    display: flex;
    align-items: center;
}

.notifications {
    position: relative;
}

.fa-bell {
    font-size: 1.5rem;
    color: #000;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 0.8rem;
}

.profile-dropdown {
    position: relative;
    cursor: pointer;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-name {
    font-size: 1rem;
    color: #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a,
.dropdown-content button {
    padding: 12px 16px;
    display: block;
    color: black;
    text-decoration: none;
}

.dropdown-content button {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.header-left {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}