body {
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    flex-direction: column;
    gap: 40px;
    position: relative;
}