.user-profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: relative;
}

.user-mark {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.user-profile h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.profile-details p {
    font-size: 16px;
    margin: 10px 0;
    color: #555;
}

.profile-details strong {
    color: #333;
}

.highlight {
    color: #28a745;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.change-email-button,
.change-password-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.change-email-button:hover,
.change-password-button:hover {
    background-color: #429b45;
}

.otp-section {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.modal-input-email,
.modal-input-password {
    margin-bottom: 10px;
}

.admin-upload-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.service-status {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.service-status h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.service-status p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

.refresh-button {
    margin-top: 15px;
    padding: 8px 12px;
    font-size: 0.9em;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.refresh-button:hover {
    background-color: #429b45;
}

.export-test-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;

}

.export-test-container input,
.export-test-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.export-test-container button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.export-test-container button:hover {
    background-color: #45a049;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-controls button {
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-controls button:hover {
    background-color: #45a049;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-controls span {
    font-size: 14px;
}